.page-title {
    color: white
}

.header h1 {
  color: white;
  margin: 0;
  font-size: 1.8em;
}

.header h3 {
  color: white;
  font-size: 1em;
  font-weight: 400;
}

.cropper {
    position: relative;
    height: 15em;
    width: 30em;
    border: 5px solid red;
    margin: auto;
  }

.buttons {

}