.bg{
    width: min(100%, 25em);
    height: 100vh;
    margin: auto;
}

.space{
    padding: 3em;
}

.line{
    height: 2px;
    background-color: #f44404;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.title{
    text-align: left;
    color: white;
    margin-left: 15px;
    font-style: border;
    font-size: 2em;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
}

.colored {
    color:#f44404;
}

.subtitle{
    text-align: right;
    color: white;
    margin-top: 220px;
    margin-right: 15px;
    font-size: 1em;
    font-family: 'Noto Sans KR', sans-serif;
}

.border{
    font-weight: bolder;
}

.starbBnt{
    width: 100%;
    background: linear-gradient(to right, #f44404, black);
    border: none; 
    border-radius: 15px;
    margin: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    border-style: solid;
    border-color: black;
    text-align: left;
    font-weight: 900;
    font-size: 1.3em;
    padding: 20px;
}

.starbBnt:hover{
    color: white;
}