.MusicRecommend .header h1 {
  color: white;
  margin: 0;
  font-size: 1.8em;
}

.MusicRecommend .header h3 {
  color: white;
  margin: 0.5em 0 0 0;
  font-size: 1em;
  font-weight: 400;
}

.MusicRecommend h2 {
  color: white;
  margin: 0;
  margin-bottom: 10px;
  font-size: 1.3em;
}

.infoBox {
  color: white;
  margin: auto 0;
  text-align: center;
}

.infoBox .songName {
  font-weight: bolder;
  font-size: larger;
  padding: 0.5em;
}

.infoBox .artistName {
  font-weight: lighter;
  font-size: medium;
  padding: 0.5em;
}

.playerBox {
  padding: 1.5em;
}

.MusicRecommend .footer button {
  height: 100%;
  border: none;
  border-radius: 15px;
  font-weight: 900;
  color: black;
}

.MusicRecommend .buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  height: 100%;
  width: 90%;
  margin: 0 auto;
}

.MusicRecommend .retry {
  width: 100%;
  background: #e3e3e3;
}

.MusicRecommend .save {
  width: 100%;
  background: #f44404;
}

.MusicRecommend .servey {
  margin-top: 3%;
  margin-bottom: 10%;
  width: 90%;
  background: #e3e3e3;
}
